CONTAINER_NAME=
IMAGE_NAME=
LOCAL=

JWT_SECRET=
JWT_REFRESH=

TLS_SERVER_NAME=

APP_UNIX_SOCKET=
APP_LISTEN_ADDRESS=
APP_LISTEN_PORT=

WS_PATH=
API_PATH=

DEV_MODE=

WEBFACE_ORIGIN=

DRAIN_DROP_DEAD_TIMEOUT_S=
DRAIN_GRACE_TIMEOUT_S=
DRAIN_NOTIFY_INTERVAL_S=

UWS_IDLE_TIMEOUT_S=
UWS_MAX_PAYLOAD_LENGTH_BYTES=
WARN_PAYLOAD_LENGTH_BYTES=